<footer class="footer">
	<div class="container">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<p class="text-muted text-right">UC Berkeley Coding Bootcamp</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<p class="text-muted text-center">Team: Sasha, Clayton, James, Barry </p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<p class="text-muted text-left">Project2 &copy; 2018 | <a href="https://github.com/clayton650/project2" target="_blank">GitHub Repo</a></p>
		</div>

	</div>
</footer>