<div class="container beerbanner">
  <div class="row">
    <div class="nav-wrapper">
      <div class="col md2 left">
        <ul class="left">
          <li><a href="/" class="brand-logo">BeerMazon!</a></li>
        </ul>
      </div>
      <div class="col md2 right">
        <ul id='category-dropdown' class='dropdown-content'>
          <li><a class="white-text" href="/">All</a></li>
          {{#each categories}}
            <li><a class="white-text" href="/{{title}}">{{title}}</a></li>
          {{/each}}
          <div class="show-on-medium-and-down hide-on-med-and-up">
            <li class="divider"></li>
            <li><a class="g-signin2" data-onsuccess="onSignIn" href="#">Sign In</a></li>
            <li><a class="g-signout" href="#" style="display: none;" onclick="signOut();">Sign out</a></li>
            <li><a class="white-text" href="/checkout">Cart</a></li>
          </div>
        </ul>
        <a id="dropDown" class='dropdown-button show-on-medium-and-down' data-beloworigin="true" href='#' data-activates='category-dropdown'>Categories</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down col md4">
          <li><a class="g-signin2" data-onsuccess="onSignIn" href="#">Sign In</a></li>
          <li><a class="g-signout" href="#" style="display: none;" onclick="signOut();">Sign out</a></li>
          <li><a href="/checkout">Cart<span id="navCart"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{#section 'script'}}
<script src="/static/js/authentication.js"></script>
<script type="text/javascript">

  $(function(){

    $(".g-signin2").on("click", function() {
      console.log("login clicked");
      $(".g-signin2").hide();
      $(".g-signout").show();
    })

    $(".g-signout").on("click", function() {
      console.log("login clicked");
      $(".g-signout").hide();
      $(".g-signin2").show();
    })


  });

  // adds an item count to the cart link 

  $(window).on("load", function() {
    var cart = JSON.parse(sessionStorage.getItem("cart")) || 0;
    console.log("cart", cart);
    var cartLength = cart.length || 0;
    var cartLengthDiv = 
    `<span class="badge" id="navCartLength">  ` + cartLength + `</span>`
    $("#navCart").append(cartLengthDiv);
  });
  
</script>

{{{_sections.script}}}
{{/section}}
