<div class="container">
  <div class="row">
    <div class="nav-wrapper">
      <div class="col md2 left">
        <ul class="left">
          <li><a href="/" class="brand-logo">BeerMazon!</a></li>
        </ul>
      </div>
      {{!-- <div class="col md6 right">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div> --}}
      <div class="col md2 right">
        <ul id="nav-mobile" class="right hide-on-med-and-down col md4">

          <li><a class="g-signin2" data-onsuccess="onSignIn" href="#">Sign In</a></li>
          <li><a class="g-signout" href="#" style="display: none;" onclick="signOut();">Sign out</a></li>
          <li><a href="/checkout">Cart</a></li>
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


{{#section 'script'}}
<script src="static/js/authentication.js"></script>
<script type="text/javascript">


  $(".g-signin2").on("click", function(e) {
    e.preventDefault();
    console.log("login clicked");
    $(".g-signin2").hide();
    $(".g-signout").show();
    // configFirebase();
  })

</script>

{{{_sections.script}}}
{{/section}}