<div class="container">
  <div class="row">
    <div class="nav-wrapper">
      <div class="col md2 left">
        <ul class="left">
          <li><a href="#" class="brand-logo">Beerazon</a></li>
        </ul>
      </div>
      <div class="col md6 center">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
      <div class="col md2 right">
        <ul id="nav-mobile" class="right hide-on-med-and-down col md4">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Cart</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
