<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
	<title>Project2 Admin!</title>
	<!-- <link rel="shortcut icon" href="static/favicon.ico"> -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="vendor/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" href="static/css/style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
<nav class="nav-wrapper">
  <a href="#" class="brand-logo">BEER</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="sass.html">Links</a></li>
    <li><a href="badges.html">Go</a></li>
    <li><a href="collapsible.html">Here...</a></li>
  </ul>
</nav>

<main class="container">
	<!-- Page Content goes here -->     
	{{{ body }}}
</main>

<footer>
   <p>Project2 &copy; 2018 | <a href="https://github.com/clayton650/project2" target="_blank">GitHub Repo</a></p>
</footer>

<script type="text/javascript" src="vendor/materialize-css/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
{{{_sections.script}}} 

</body>
</html>