<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Project2!</title>
	<!-- <link rel="shortcut icon" href="static/favicon.ico"> -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="vendor/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>	
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
	<script src="https://js.stripe.com/v3/"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

</head>
<body>
<nav>
	{{!-- see views/partials/nav --}}
	{{> nav }}
</nav>	

<main>
	{{{ body }}}
</main>

<footer class="page-footer" style="background-color: #C57B57;">
	{{!-- see views/partials/footer --}}
	{{> footer }}
</footer>

<script src="static/js/init.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script type="text/javascript" src="vendor/materialize-css/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
<script type="text/javascript" src="static/js/authentication.js"></script>
{{{_sections.script}}} 

</body>

</html>

