<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="google-signin-client_id" content="882732018398-2e8jsdcam7a4d45h532b0evbhb99fmb8.apps.googleusercontent.com">

	<title>BeerMazon!</title>
	<link rel="shortcut icon" href="/static/images/favicon-beer.ico">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="/vendor/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

	<script src="https://js.stripe.com/v3/"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

</head>
<body>

{{!-- #wrap and #push for Sticky Footer --}}
<div id="wrap">
	<img id="bannerImage" class="responsive-img z-depth-3" src="/static/images/beerbanner.jpg" alt="Beer Banner">
	<div class="navbar-fixed">
		<nav>
			{{!-- see /views/partials/nav --}}
			{{> nav }}
		</nav>
	</div>	
	<main>
		{{{ body }}}
		<div id="push"></div>
	</main>
</div>
<footer>
	{{!-- see /views/partials/footer --}}
	{{> footer }}
</footer>

{{{_sections.modal}}} 

<script src="/static/js/init.js"></script>
<script type="text/javascript" src="/vendor/materialize-css/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
<script type="text/javascript" src="/static/js/authentication.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>


{{{_sections.script}}} 

</body>

</html>

