<!DOCTYPE html>
<html>
	<head>
		<script src="https://js.stripe.com/v3/"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<title>hellooooo</title>

	</head>

	<body>
		<div class="container" style="background-color:gray;">
			<div class="row">
				<div class="col s8">
					Cart goes here! 

				</div>
				<div class="col s4">
	
					<form action="your-server-side-code" method="POST">
			  		<script
					    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
					    data-amount="999"
					    data-name="Beer Buds"
					    data-description="We love beer!"
					    data-image="http://nordictravelmag.com/wp-content/uploads/2017/06/01.jpg"
					    data-locale="auto"
					    data-zip-code="true"
					    data-billing-address="true"
					    data-shipping-address="true">
			  		</script>
					</form>
				</div>
			</div>
		</div>

	</body>
</html>