	<div class="container" id="paymentPage">
	<div class="row">
		<div class="col l8 s12" id="cart">
			<ul class="collection" id="cartItems"></ul>
			{{> cart/cart-block }}
			
		</div>
		<div class="col l4 s12">
			<ul class="collection" id="cartTotal"></ul>
			<div id="paymentSection"></div>
		</div>
	</div>
</div>


