<div class="container" style="background-color:gray;">
	<div class="row">
		<div class="col s8">
			{{cart}}

		</div>
		<div class="col s4">
			<!-- "hardcoded" payment button  -->
			<!-- the form collects the data, tokenizes it, and submits it to the server -->
			<form action="your-server-side-code" method="POST">
		  		<script
				    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
				    data-amount="999"
				    data-name="Beer Buds"
				    data-description="We love beer!"
				    data-image="http://nordictravelmag.com/wp-content/uploads/2017/06/01.jpg"
				    data-locale="auto"
				    data-zip-code="true"
				    data-billing-address="true"
				    data-shipping-address="true">
		  		</script>
			</form>
		</div>
	</div>
</div>