<div class="row">

  <div class="col s4">
    <ul id="product-list" class="row">
    	{{!-- Product List goes here --}}
    </ul>
  </div>

  <div class="col s8">
  	{{> admin/editor_form }}
  	{{!-- Editor goes here --}}
  </div>

</div>