<div class="row">

  <div class="col s3">
    <ul>
    	Sidebar
    	{{!-- List of items go here --}}
    </ul>
  </div>

  <div class="col s9">
  	{{> admin/editor }}
    {{!-- Editor goes here --}}
  </div>

</div>