

<div class="container">
  <div class="section">
    <!--   Card Section   -->
    <div id="product-list" class="row">
      {{!-- item cars are loaded via ajax using load_products() --}}  
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <p>age checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage checkage check</p>
  </div>
</div>

{{#section 'script'}}
<script type="text/javascript">

  // showModal();
  $(window).on("load", function() {
    console.log("wow");
    var modal = $("#myModal");
    modal.attr("display", "block");  
  });


load_products('card', function(html){
  $('#product-list').html(html);
});

$(function() {
  $(document).on("click", ".add-to-cart", function(event) {
    event.preventDefault();

    // retreives the current cart 
    var cart = JSON.parse(sessionStorage.getItem("cart"));
    if (!Array.isArray(cart)) {
      cart = [];
    };
    
    // adds the clicked item to the retreived cart
    var cartItemId = this.id; 
    cart.push(cartItemId);

    // pushes the updated cart Id list to session storage
    sessionStorage.setItem("cart", JSON.stringify(cart));
    Materialize.toast('Beer added to cart!', 2000);
  });

})

</script>
{{{_sections.script}}} 
{{/section}}
