<div class="col m12">
  <img id="bannerImage" class="responsive-img z-depth-3" src="static/images/beerbanner.jpg" alt="Beer Banner">
</div>
<br><br>

<div class="container">
  <div class="section" id="card-section">
    <!--   Card Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="static/images/beer1.jpg">
            <span class="card-title">Card Title</span>
            <a href="#" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="static/images/beer1.jpg">
            <span class="card-title">Card Title</span>
            <a href="#" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="static/images/beer1.jpg">
            <span class="card-title">Card Title</span>
            <a href="#" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div class="container">
  <div class="section">
    <!--   Card Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="static/images/beer1.jpg">
            <span class="card-title">Card Title</span>
            <a href="#" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="static/images/beer1.jpg">
            <span class="card-title">Card Title</span>
            <a href="#" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="static/images/beer1.jpg">
            <span class="card-title">Card Title</span>
            <a href="#" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>

<script type="text/javascript">
  console.log("index java");

  $(function () {

    function displayInventory() {
      // gets all available products in inventory
      $.ajax('api/product/list', {
        type: 'get',
      }).done(function(items) {
        var allItems = items;
        // iterates over all products in inventory and creates a card for each
        for (var x in allItems) {
          draw_item_cards(allItems[x]);
        };
      }).fail(function(err) {
        console.log("err", err);
      });
    };

    displayInventory();

    function draw_item_cards(item) {
      console.log("draw_item_cards", item.id, item.title);
      var li_inventory = 
        `<div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="`+ item.image_url +`">
              <span class="card-title">` + item.title + `</span>
              <a href="#" class="btn-floating halfway-fab waves-effect waves-light red" id="` + item.id + `"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>` + item.description + `</p>
            </div>
          </div>
        </div>`
    };

  });

</script>