<div class="container">
  <div class="section">
    <!--   Card Section   -->
    <div id="product-list" class="row">
      {{!-- item cars are loaded via ajax using load_products() --}}  
    </div>
  </div>
</div>

{{#section 'script'}}
<script type="text/javascript">

load_products('card', function(html){
  $('#product-list').html(html);
});

</script>
{{{_sections.script}}} 
{{/section}}
