

<div class="container">
  <div class="section">
    <!--   Card Section   -->
    <div id="product-list" class="row">
      {{!-- item cars are loaded via ajax using load_products() --}}  
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <p>age check</p>
  </div>
</div>

{{#section 'script'}}
<script type="text/javascript">

  // showModal();
  $(window).on("load", function() {
    console.log("wow");
    var modal = $("#myModal");
    modal.attr("display", "block");  
  });


$(function() {

  //load_prodoct wrapper
  function products_load(pathname){
    load_products('card', pathname, function(html){
      $('#product-list').html(html);
    });
  };

  //load products when page loads
  products_load(window.location.pathname);

  //Update products when back or forward button are pressed
  $(window).on('popstate', function() {
    products_load(window.location.pathname);
  });
    
  //Listen for category dropdown clicks
  $("#category-dropdown a").on('click', function(e){
    e.preventDefault();
    var pathname = $(this).attr('href');
    products_load(pathname);
    window.history.pushState('','',pathname);
  });


  $(document).on("click", ".add-to-cart", function(event) {
    event.preventDefault();

    // retreives the current cart 
    var cart = JSON.parse(sessionStorage.getItem("cart"));
    if (!Array.isArray(cart)) {
      cart = [];
    };
    // adds the clicked item to the retreived cart
    var cartItemId = this.id; 
    cart.push(cartItemId);

    $("#navCart").empty();
    var cartLengthDiv = 
      `<span class="badge" id="navCartLength">  ` + cart.length + `</span>`
    $("#navCart").append(cartLengthDiv);

    // pushes the updated cart Id list to session storage
    sessionStorage.setItem("cart", JSON.stringify(cart));
    Materialize.toast('Beer added to cart!', 2000);
  });

})

</script>
{{{_sections.script}}} 
{{/section}}
