<div class="container">
	<div class="row center">
		<div class="column m4 s12">
			<div class="card horizontal">
				<div class="card-image">
					<img src="static/images/beerbanner2.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<p>Payment successful!<br>Your beers are on the way!</p>
					</div>
					<div class="card-action">
						<a href="/">Why not shop around some more?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>