/* Sticky footer styles
source: https://getbootstrap.com/2.3.2/examples/sticky-footer.html;
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -8px;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 40px;
}
footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as needed */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* Footer Style */

footer{
	background-color: #C57B57;
}

footer p {
	padding: 10px 0;
	color: whitesmoke;
}

footer p a {
	color: #F7DBA7;
	text-decoration: underline;
}

/* Class Modifications */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.footerMod {
	background-color: #C57B57;
}

.cardBeer {
  background-color: #F1AB86;
  font-size: 24px;
  text-transform: capitalize;
}
/* Tag Modifications */
nav {
  background-color: rgba(37, 22, 5, .20);
	display: inline-block;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

a {
  color: #9CAFB7;
}

body {
  background-color: #F7DBA7;
}

#bannerImage{
  position: fixed;
  z-index: 0;
}

main{
  position: relative;
  z-index: 100;
}

/* ID Modifications */
#bannerImage {
  /* opacity: .9; */
	z-index: 1;
	display: inline-block;
}

#cartTotal .collection-item {
  /*background-color: #9CAFB7;*/
  font-weight: bold;
}

.deleteButton {
  background-color: #C57B57;
}

.deleteButton:hover {
  background-color: #9CAFB7;
}

#redirectHome {
  font-color: blue;
}

/* Dropdown Modifications */

.dropdown-content {
  color: red;
}

#dropdown1 {
  background-color: rgba(37, 22, 5, .20);
  font-size: 100px;
}
