/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Class Modifications */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.footerMod {
	background-color: #C57B57;
}

/* Tag Modifications */
nav {
  background-color: rgba(37, 22, 5, .20);
	display: inline-block;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

a {
  color: #9CAFB7;
}

body {
  background-color: #F7DBA7;
}

/* ID Modifications */
#bannerImage {
  /* opacity: .9; */
	z-index: 10;
	display: inline-block;
}
