/* Sticky footer styles
source: https://getbootstrap.com/2.3.2/examples/sticky-footer.html;
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -54px;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 40px;
}
footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as needed */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* Footer Style */

footer{
	background-color: #C57B57;
}

footer p {
	padding: 10px 0;
	color: whitesmoke;
}

footer p a {
	color: #F7DBA7;
	text-decoration: underline;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* Tag Modifications */
nav {
  background-color: #C57B57;
  border-bottom: 2px solid #F1AB86;
}

a {
  color: #9CAFB7;
}

body {
  background-color: #F7DBA7;
}

/* ID Modifications */
#bannerImage {
  opacity: .90;
}

#cartTotal .collection-item {
  /*background-color: #9CAFB7;*/
  font-weight: bold;
}

.deleteButton {
  background-color: #C57B57;
}

.deleteButton:hover {
  background-color: #9CAFB7;
}

#redirectHome {
  font-color: blue;
}