<div class="row">
  <form id="product-form" class="col s12">
    <input id="id" type="hidden" class="validate">
    <div class="row">
      <div class="input-field col s8">  
        <input id="title" type="text" class="validate">
        <label for="title">Title</label>
      </div> 
      <div class="input-field col s2">
        <input id="price" type="text" class="validate">
        <label for="price">Price</label>
      </div>
      <div class="input-field col s2">
        <input id="inventory" type="text" class="validate">
        <label for="inventory">Inventory</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select id="categories">
          <option value="" disabled selected>Choose Category</option>
          {{#each categories}}
            <option value="{{title}}" data-id="{{id}}">{{title}}</option>
          {{/each}}
        </select>
        <label>Category</label>
      </div>
      <div class="input-field col s6"> 
        <input id="image_url" type="text" class="validate">
        <label for="image_url">Image URL</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <textarea id="description" class="materialize-textarea" data-length="2000"></textarea>
        <label for="textarea1">Textarea</label>
      </div>
      <div>
        {{!-- Images Load Here --}}
      </div>
    </div>  
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit <i class="material-icons right">send</i>
    </button>
  </form>
</div>

<script type="text/javascript">

$(function(){

  //setup materialize
  $('select').material_select();

  load_items("#product-list");

  function load_form(){
  };
  
  function  submit_form(){
    var data = {
      title: $('#title').val(),
      price: $('#price').val(),
      inventory: $('#inventory').val(),
      description: $('#description').val(),
      category: $('#categories').val(),
      image_url: $("#image_url").val(),
    };

    $.ajax('/admin/api/editor/',{
      type: 'post',
      data: data,
    }).done(function(data){
      load_items("#product-list");
    }).fail(function(err){
      alert(err);
    });
  };

  //Handle form submit
  $('#product-form').on('submit', function(e){
    e.preventDefault();
    submit_form();
  });

});  

</script>