<div class="card-panel">
 <div class="row">
  <nav>
    <div class="nav-wrapper">
      <span class="nav-title">Product Editor</span>
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light black">
        <i class="material-icons add">add</i>
      </a>
    </div>
  </nav>

 
    <form id="product-form" class="col s12">
      <input id="id" type="hidden" class="validate" required>
      <div class="row">
        <div class="input-field col s8">  
          <input id="title" type="text" class="validate" required>
          <label for="title">Title</label>
        </div> 
        <div class="input-field col s2">
          <input id="price" type="number"  min="0" step="any" class="validate" required>
          <label for="price">Price</label>
        </div>
        <div class="input-field col s2">
          <input id="inventory" type="number" min="0" class="validate" required>
          <label for="inventory">Inventory</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select id="categories" class="validate" required>
            <option value="" disabled selected>Choose Category</option>
            {{#each categories}}
              <option value="{{title}}" data-id="{{id}}">{{title}}</option>
            {{/each}}
          </select>
          <label>Category</label>
        </div>
        <div class="input-field col s6"> 
          <input id="image_url" type="url" class="validate" required>
          <label for="image_url">Image URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea id="description" class="materialize-textarea" data-length="1000" required></textarea>
          <label for="textarea1">Textarea</label>
        </div>
        <div>
          {{!-- Images Load Here --}}
        </div>
      </div>  
      <button class="btn waves-effect waves-light disabled" type="submit" name="action">CREATE</button>
      <button class="btn waves-effect waves-light right red hide reset" name="action">RESET</button>
    </form>
  </div>
</div>

{{#section 'script'}}
<script src="vendor/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){

  var form = '#product-form';

  //setup materialize
  $('select').material_select();
  $('#delete-modal').modal();

  //Handle creating and updating products
  function submit_form(){
    var data = {
      title: $('#title', form).val(),
      price: $('#price', form).val(),
      inventory: $('#inventory', form).val(),
      description: $('#description', form).val(),
      category: $('#categories', form).val(),
      image_url: $("#image_url", form).val(),
    };

    var method = 'post';
    var id = $('#id', form).val();
    var url = "/admin/api/editor/";
    if(id){
      method = 'put';
      url = url+id;
    }

    $.ajax(url,{
      type: method,
      data: data,
    }).done(function(data){
      load_products('admin_card_horizontal', '/', function(html){
        $('#product-list').html(html)
      });
      $('.reset', form).trigger('click');
    }).fail(function(err){
      alert(err);
    });
  };

  //Change text of submit button based on if user is creating or updating a product
  function update_button_state(){
    var id = $('#id', form).val();
    var $submitButton = $("button[type='submit']")
  
    if(id){
      $submitButton.text('Update');     
    }else{
      $submitButton.text('Create');   
    }

    $(form).trigger('change');
  };     

  //Handle clicks on product list 'action' buttons: edit, copy, and delete
  $(document).on('click', '#product-list .card a.action', function(e){

    e.preventDefault();
    var id = $(this).attr('data-id');
    var action =$(this).attr('data-action');

    if(action === 'edit' || action === 'copy'){
      get_product(id, function(product){
        if(action === 'edit'){
          //id in form needed when sending data to server
          $('#id', form).val(product.id);
        }else{
          //clear id to support toggle between edit/copy
          $('#id', form).val('');
        }
        $('#title', form).val(product.title);
        $('#price', form).val(product.price);
        $('#inventory', form).val(product.inventory);
        $('#description', form).val(product.description);
        $('#categories', form).val(product.category).material_select();
        $("#image_url", form).val(product.image_url);
        //update Materialize text display
        Materialize.updateTextFields();
        update_button_state();
      });
    }

    if(action === 'delete'){
      $('#delete-modal').modal('open');
      $('#delete-modal').one('click','a.agree', function(e){
        delete_product(id, function(){
          load_products('admin_card_horizontal', '/', function(html){
            $('#product-list').html(html);
            //if you delete a product that is loaded into the editor
            //update the form to 'create' state
            if($('#id',form).val()===id){
              $('#id',form).val('');
              update_button_state();
            }
          });
        });
      })
    }
  });

  //Listen for change events and update buttons
  $(form).on('change', function(e){
    var form_is_empty = true;
    var form_is_valid = true;
    var $resetButton = $("button.reset", form);
    var $submitButton = $("button[type='submit']",form);
    $(":text, :file, :checkbox, select, textarea", form).each(function() {
      var value = $(this).val();
      if(value && value != 'Choose Category'){
        form_is_empty = false;
      }
      if(!value){
        form_is_valid = false;
      }
    });

    $resetButton.addClass('hide');
    if(!form_is_empty){
      $resetButton.removeClass('hide');
    };

    $submitButton.addClass('disabled')
    if(form_is_valid){
      $submitButton.removeClass('disabled')
    }
  });

  //Add new product
  $('.admin #editor nav .add').on('click', function(e){
    e.preventDefault();
    $("#id",form).val('');
    $('.reset').trigger('click');
  })

  //Clear form inputs
  $('.reset', form).on('click', function(e){
    e.preventDefault();
    $(form)[0].reset();
    $('#categories', form).material_select();
    update_button_state();
    $(form).trigger('change');
  });
  
  //Handle form submit
  $(form).on('submit', function(e){
    if(!e.isDefaultPrevented()){
      e.preventDefault();
      submit_form();
      update_button_state();
    };
  });

});  
</script>
{{/section}}