<div class="row card-panel">
  <form id="product-form" class="col s12">
    <input id="id" type="hidden" class="validate">
    <div class="row">
      <div class="input-field col s8">  
        <input id="title" type="text" class="validate">
        <label for="title">Title</label>
      </div> 
      <div class="input-field col s2">
        <input id="price" type="text" class="validate">
        <label for="price">Price</label>
      </div>
      <div class="input-field col s2">
        <input id="inventory" type="text" class="validate">
        <label for="inventory">Inventory</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select id="categories">
          <option value="" disabled selected>Choose Category</option>
          {{#each categories}}
            <option value="{{title}}" data-id="{{id}}">{{title}}</option>
          {{/each}}
        </select>
        <label>Category</label>
      </div>
      <div class="input-field col s6"> 
        <input id="image_url" type="text" class="validate">
        <label for="image_url">Image URL</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <textarea id="description" class="materialize-textarea" data-length="2000"></textarea>
        <label for="textarea1">Textarea</label>
      </div>
      <div>
        {{!-- Images Load Here --}}
      </div>
    </div>  
    <button class="btn waves-effect waves-light" type="submit" name="action">Create</button>
    <button class="btn waves-effect waves-light right red hide clear" name="action">Clear</button>
  </form>
</div>

{{#section 'script'}}
<script type="text/javascript">
$(function(){

  var form = '#product-form';

  //setup materialize
  $('select').material_select();

  //Handle creating and updating products
  function submit_form(){
    var data = {
      title: $('#title', form).val(),
      price: $('#price', form).val(),
      inventory: $('#inventory', form).val(),
      description: $('#description', form).val(),
      category: $('#categories', form).val(),
      image_url: $("#image_url", form).val(),
    };

    var method = 'post';
    var id = $('#id', form).val();
    var url = "/admin/api/editor/";
    if(id){
      method = 'put';
      url = url+id;
    }

    $.ajax(url,{
      type: method,
      data: data,
    }).done(function(data){
      load_items("#product-list");
      $('.clear', form).trigger('click');
    }).fail(function(err){
      alert(err);
    });
  };

  //Change text of submit button based on if user is creating or updating a product
  function update_button_state(){
    var id = $('#id', form).val();
    var $submitButton = $("button[type='submit']")
    if(id){
      $submitButton.text('Update');
    }else{
      $submitButton.text('Create');    
    }

    $(form).trigger('change');
  };

  //Handle clicks on product list 'action' buttons
  $(document).on('click', '#product-list .card a.edit', function(e){
    var id = $(this).attr('data-id');
    get_product_info(id, function(product){
      $('#id', form).val(product.id);
      $('#title', form).val(product.title);
      $('#price', form).val(product.price);
      $('#inventory', form).val(product.inventory);
      $('#description', form).val(product.description);
      $('#categories', form).val(product.category).material_select();
      $("#image_url", form).val(product.image_url);
      //update Materialize text display
      Materialize.updateTextFields();
      update_button_state();
    });
  });

  //Listen for change events and update buttons
  $(form).on('change', function(e){
    var form_is_empty = true;
    var $clearButton = $("button.clear", form);
    $(":text, :file, :checkbox, select, textarea", form).each(function() {
      var value = $(this).val();
      if(value && value != 'Choose Category'){
        form_is_empty = false;
        return;
      }
    });
    $clearButton.addClass('hide');
    if(!form_is_empty){
      $clearButton.removeClass('hide');
    };
  });

  //Clear form inputs
  $('.clear', form).on('click', function(e){
    e.preventDefault();
    $(form)[0].reset();
    $("#id",form).val('');
    $('#categories', form).material_select();
    update_button_state();
    $(form).trigger('change');
  });
  
  //Handle form submit
  $(form).on('submit', function(e){
    e.preventDefault();
    submit_form();
    update_button_state();
  });

});  
</script>
{{/section}}